@model MVCOtel_2.Models.OdaModel
@{
    ViewBag.Title = "Oda Duzenle";
}

<h2>Oda Düzenle @ViewBag.mesaj</h2>
@using (Html.BeginForm("OdaDuzenle", "Yonetim", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @*<input type="hidden" name="OdaMID"/> --- ID bize lazım ama kullanıcı görmesin.*@
    @Html.HiddenFor(x => x.OdaModelID) @*Yukarıdaki ile aynı*@

    <div class="satir">
        @Html.LabelFor(x => x.Baslik)
        @Html.TextBoxFor(x => x.Baslik)
    </div>

    <div class="satir">
        @Html.LabelFor(x => x.Fiyat)
        @Html.TextBoxFor(x => x.Fiyat)
    </div>

    <div class="satir">
        @Html.LabelFor(x => x.m2)
        @Html.TextBoxFor(x => x.m2, new { @type = "number" })
    </div>

    <div class="satir">
        @Html.LabelFor(x => x.ResimURL)
        <input name="resim" type="file"/>
    </div>

    <div class="satir hatalar">
        @Html.ValidationSummary()
    </div>

    <input type="submit" value="KAYDET"/>
}
